{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='{% static "SCRUM/style.css" %}' type='text/css'>
    <script src='{% static "SCRUM/script.js" %}'></script>
</head>
<body>
    <header>
        <h2>{{user.name_array.0}}'s Projects Summary:</h2>
        <div class='menu'>
            <!-- <a href="/SCRUM" class='menu-link'>Projects</a><br> -->
            <a href='/' class='menu-link'>Log Out</a>
        </div>
    </header>
    <div class='wrapper'>
        <div class='column' id='my_projects'>
            <h2>My Projects:</h2>
            {% for project in projectList %}
                <div class='project' id={{project.id}}><a id={{project.name}} href='SCRUM/project/{{project.id}}'>{{project.name}}</a><p>{% for member in project.members.all %} {{member.name}}{% endfor %}</p></div>
            {% endfor %}
            <span class='add' id='add_backlog'>Add</span>
        </div>
        <div class='column' id='others_projects'>
            <h2>Projects I am in:</h2>
            {% for other in participating %}
                <div class='project' id={{other.id}}><h3 id={{other.name}}>{{other.name}}</h3><p>Lead by: {{other.head.username}}</p></div>
            {% endfor %}
        </div>
    </div>
</body>
</html>